<table class="table table-striped table-bordered table-condensed table-responsive">
    <thead>
        <tr>
            <td>
                <p>Table Name</p>
            </td>
            <td th:colspan="${cell_width_percent - 1}">
                <p>Fields</p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="table : ${databaseContent.tableList}">
            <td th:style="'width: '+${cell_width_percent}+'%;'">
                <p class="table-row-title" th:text="${table.name}"></p>
            </td>
            <td th:style="'width: '+${cell_width_percent}+'%;'" th:each="field : ${table.fieldList}">
                <p th:text="${field.name}"></p>
            </td>
        </tr>
    </tbody>
</table>