<style type="text/css">
      .list-group-item-process{
        background:#FFF;
        font-size: 15px;
        border-style: solid;
        border-bottom: none;
      }
</style>
<style type="text/css">
    .gly-spin {
        -webkit-animation: spin 2s infinite linear;
        -moz-animation: spin 2s infinite linear;
        -o-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;
    }
    @-moz-keyframes spin {
        0% {
            -moz-transform: rotate(0deg);
        }
        100% {
            -moz-transform: rotate(359deg);
        }
    }
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
        }
    }
    @-o-keyframes spin {
        0% {
            -o-transform: rotate(0deg);
        }
        100% {
            -o-transform: rotate(359deg);
        }
    }
    @keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }
    #tilte{
        padding-top:50px;
        font-size: 30px;
    }
    #description{
        padding-top:20px;
        padding-bottom:20px;
    }
    #hidden{
        border-bottom: solid 2px;
        border-color : #999;
        margin-bottom:20px
    }
    #rawdata{
        margin-left:15px;
        padding-top:10px;
        padding-bottom:30px;
    }
    #submitBtn{
        margin-top:20px;
    }
    #enumeration{
        padding-top:20px;
    }
    #checkBoxs{
        border-top: solid 2px;
        border-color : #999;
        padding-top:30px;
        padding-bottom:10px;
    }

    .elements{
        padding-bottom:15px;
    }

</style>

<div class="row" >
    <div id="titre" class="col-xs-12 col-sm-10 col-md-10 "> <h3 th:text="${operation.title}"></h3></div>
    <div id="description" class="col-xs-12 col-sm-10 col-md-10 "><p th:text="${operation.abstr}"></p></div>

    <form action="/execute" method="post" id="form">
        <div id="hidden" class="col-xs-12 col-sm-12 ">
            <input type="hidden" name="processId" th:value="${operation.id}" />
            <input type="hidden" name="token" th:value="${session.token}" />
        </div>

        <!--RawData-->
        <div id="rawdata" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " th:each="input : ${operation.inputList}"
             th:if="${input.name.equalsIgnoreCase('RawData')}">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 elements input-group">
                    <label class="input-group-btn" onchange="javascript:nameFile()">
                        <span class="btn btn-default">
                            Browse&hellip;
                            <input id="file-load" th:name="name" type="file" style="display: none;" multiple="true"/>
                        </span>
                    </label>
                    <input id="in-browse" type="text" th:name="${input.id}" class="form-control" readonly="true"
                           th:placeholder="${input.title}"/>
                </div>
            </div>
        </div>
        <div id="geometrydata" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 elements" th:each="input : ${operation.inputList}"
             th:if="${input.name.equalsIgnoreCase('GeometryData')}">
            <div>
                <span th:text="${input.title}">title</span>
                <input type="text" th:name="${input.id}" value="Table name" />
            </div>
        </div>

        <!--Password-->
        <div id="password" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 elements form-group"
             th:each="input : ${operation.inputList}"
             th:if="${input.name.equalsIgnoreCase('Password')}">
            <span th:text="${input.title}">title</span>
            <input class="form-control" type="password" th:name="${input.id}" value="Password" />
        </div>

        <!--LiteralDataType:String-->
        <div id="string" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 elements form-group"
             th:each="input : ${operation.inputList}"
             th:if="${input.name.equalsIgnoreCase('LiteralDataType') and input.type.equalsIgnoreCase('String')}">
            <span th:text="${input.title}">title</span>
            <input type="text" class="form-control" th:name="${input.id}" value="String value" />
        </div>

        <!--LiteralDataType:Number-->
        <div id="number" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 elements form-group "
             th:each="input : ${operation.inputList}"
             th:if="${input.name.equalsIgnoreCase('LiteralDataType') and input.type.equalsIgnoreCase('Number')}">
            <span th:text="${input.title}">title</span>
            <input type="number" class="form-control" th:step="${input.attributes.get('spacing')}" th:name="${input.id}"
                   th:min="${input.attributes.get('min')}" th:max="${input.attributes.get('max')}"
                   th:value="${input.attributes.get('value')}" />
        </div>

        <!--JDBCTable-->
        <div id="jdbctable" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 elements form-group"
             th:each="input : ${operation.inputList}" th:if="${input.name.equalsIgnoreCase('JDBCTable')}">
            <span th:text="${input.title}">title</span>
            <input class="form-control" type="text" th:name="${input.id}" value="Table name" />
        </div>

        <!--JDBCColumn-->
        <div id="jdbccolumn" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 elements form-group"
             th:each="input : ${operation.inputList}" th:if="${input.name.equalsIgnoreCase('JDBCColumn')}">
            <span th:text="${input.title}">title</span>
            <input class="form-control" type="text" th:name="${input.id}" value="Table column"/>
        </div>

        <!--JDBCValue-->
        <div id="jdbcvalue" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 elements form-group"
             th:each="input : ${operation.inputList}" th:if="${input.name.equalsIgnoreCase('JDBCValue')}">
            <span th:text="${input.title}">title</span>
            <input class="form-control" type="text" th:name="${input.id}" value="Table value" />
        </div>

        <!--Enumertion-->
        <div id="enumeration" class="col-xs-12 col-sm-6 col-md-6 col-md-6 col-lg-4 form-group elements"
             th:each="input : ${operation.inputList}" th:if="${input.name.equalsIgnoreCase('Enumeration')}">
            <select  class="selectpicker form-control" th:multiple="${input.attributes.get('multiSelection')}"
                     th:name="${input.id}">
                <option th:each="value : ${input.attributes.get('valueList')}" th:value="${value}" th:text="${value}">
                </option>
            </select>
        </div>
        <!--/Enumertion-->

        <!--CheckBoxs-->
        <div class=" col-xs-12 col-sm-12 elements " id="checkBoxs">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 form-check form-check-inline"
                     th:each="input : ${operation.inputList}"
                     th:if="${input.name.equalsIgnoreCase('LiteralDataType') and input.type.equalsIgnoreCase('Boolean')}">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" th:text="${input.title}"/>
                    </label>
                </div>
            </div>
        </div>

        <!--Submit-->
            <input id="submitBtn" class="btn btn-primary col-sm-4 col-sm-push-4" type="submit" value="Submit">
                <span class="col-sm-4" id="submitText" hidden="true"> Sending data
                    <i class="glyphicon glyphicon-refresh gly-spin"></i></span>
            </input>
    </form>
</div>

<script>
// <![CDATA[
    $(function() {
        $("#form").on("submit", function(e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("action"),
                type: 'POST',
                data: $(this).serialize(),
                beforeSend: function() {
                    $("#submitText").toggle();
                },
                success: function(data) {
                    jobs();
                },
                error : function(text)
                {
                    $( "#content" ).html(String("Error"));
                }
            });
        });
    });

    function nameFile(){
        var title = $('#file-load').val().replace(/\\/g, '/').replace(/.*\//, '');
        $('#in-browse').val(title);
    }
// ]]>
</script>