<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>OrbisServer</title>

        <link rel="stylesheet" href="/libs/css/bootstrap.css" media="screen"/>
        <link rel="stylesheet" href="/assets/main.css"/>
        <link rel="stylesheet" href="/assets/css/mainbody.css"/>
        <link rel="stylesheet" href="/assets/css/navbar.css"/>

        <script src="/libs/jquery.min.js"></script>
        <script src="/libs/js/bootstrap.min.js"></script>
        <script src="/assets/js/main_script.js"></script>
    </head>
    <body>
        <style>
            @-moz-keyframes slidein {
                0% {
                    left: -300px;
                }
                100% {
                    left: 0px;
                }
            }
            @-webkit-keyframes slidein {
                0% {
                    left: -300px;
                }
                100% {
                    left: 0px;
                }
            }
            @keyframes slidein {
                0% {
                    left: -300px;
                }
                100% {
                    left: 0px;
                }
            }
            @-moz-keyframes slideout {
                0% {
                    left: 0;
                }
                100% {
                    left: -300px;
                }
            }
            @-webkit-keyframes slideout {
                0% {
                    left: 0;
                }
                100% {
                    left: -300px;
                }
            }
            @keyframes slideout {
                0% {
                    left: 0;
                }
                100% {
                    left: -300px;
                }
            }
        </style>
        <div id="navbar">
            <nav class="nav navbar-inverse navbar-static-top">
                <div class="container-fluid ">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li>
                            <a id="Data" th:onclick="'javascript:data(\'' + ${session} + '\');'" class="navbar-brand" href="#">Data</a>
                        </li>
                        <li>
                            <a id="Process" th:onclick="'javascript:process(\'' + ${session} + '\');'" class="navbar-brand" href="#">Process</a>
                        </li>
                        <li>
                            <a id="Share" onclick="javascript:share();" class="navbar-brand" href="#">Share</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" id="user_ul">
                        <li>
                            <a id="sign_in" href="#">
                                <span class="glyphicon glyphicon-user"></span>Sign Up
                            </a>
                        </li>
                        <li>
                            <a  id="log_in" data-toggle="modal" data-target="#loginModal" href="#">
                                <span class="glyphicon 	glyphicon-log-in"></span>Login
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div>
            <div id="left-nav">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Main Menu -->
                    <div class="left-nav-container">
                        <ul class="nav navbar-nav" id="left-nav-content">

                        </ul>
                    </div>
                </nav>
            </div>

            <!-- Main Content -->
            <div class="container-fluid">
                <div class="main-body">
                    <div class="row row-offcanvas row-offcanvas-right">
                        <div id="content" class="col-xs-12 col-sm-9">
                            <div class="jumbotron">
                                <h1>OrbisServer</h1>
                                <p>OSGI web server plugin for OrbisGIS based on wisdom-framework.</p>
                                <h3>Start the server</h3>
                                <p>Clone the repository. Go to core-server and execute</p>
                                <p>mvn wisdom:run
                                    Then, open your browser to: <a>http://localhost:8080</a>
                                </p>
                                <h3>Configuration Ports</h3>
                                <p>
                                    In the src/main/configuration/application.conf file, use these
                                    properties to configure the ports:


                                            http.port = HTTP port, 9000 by default
                                            https.port = HTTPS port, disabled by default

                                            You can use 0 to use a random port.</p>

                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-xs-12 col-lg-4">
                                    <h2>Data</h2>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                                        tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                                        fermentum massa justo sit amet risus. Etiam porta sem malesuada
                                        magna mollis euismod. Donec sed odio dui. </p>
                                    <p><a class="btn btn-default" href="#" role="button" onclick="javascript:data();">View details &raquo;</a></p>
                                </div>
                                <div class="col-sm-6 col-xs-12 col-lg-4">
                                    <h2>Process</h2>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                                        tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                                        fermentum massa justo sit amet risus. Etiam porta sem malesuada
                                        magna mollis euismod. Donec sed odio dui. </p>
                                    <p><a class="btn btn-default" href="#" role="button" onclick="javascript:process();">View details &raquo;</a></p>
                                </div>
                                <div class="col-sm-6 col-xs-12 col-lg-4">
                                    <h2>Share</h2>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                                        tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                                        fermentum massa justo sit amet risus. Etiam porta sem malesuada
                                        magna mollis euismod. Donec sed odio dui. </p>
                                    <p><a class="btn btn-default" href="#" role="button" onclick="javascript:share();">View details &raquo;</a></p>
                                </div>
                            </div><!--/row-->
                        </div><!--/.col-xs-12.col-sm-10-->

                    </div><!--/row-->
                </div><!--/.container-->
            </div>

            <!-- Modal -->
            <div class="modal fade" id="loginModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" align="center">
                            <img class="img" id="img_logo"
                                 src="http://store.orbisgis.org/documentation/online/2-1/fr/files/img_1.png"
                                 width="350" height="100"/>
                        </div>
                        <div id="div-forms">
                            <!-- Begin # Login Form -->
                            <form id="login-form" action="http://localhost:8080/login" method="post">
                                <div class="modal-body">
                                    <div id="div-login-msg">
                                        <span id="text-login-msg">Type your username and password</span>
                                    </div>
                                    <input id="login_username" name="username" class="form-control" type="text"
                                           placeholder="Username" required="true"/>
                                    <input id="login_password" name="password" class="form-control" type="password"
                                           placeholder="Password" required="true"/>
                                </div>
                                <div class="modal-footer">
                                    <div>
                                        <button id="log_in_btn" type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                                    </div>
                                    <div>
                                        <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                                        <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/assets/js/main_script.js"></script>
    </body>
</html>
