<div class="jumbotron">
    <h1>OrbisServer</h1>
    <p>OSGI web server plugin for OrbisGIS based on wisdom-framework.</p>
    <h3>Start the server</h3>
    <p>Clone the repository. Go to core-server and execute</p>
    <p>mvn wisdom:run
        Then, open your browser to: <a>http://localhost:8080</a>
    </p>
    <h3>Configuration Ports</h3>
    <p>
        In the src/main/configuration/application.conf file, use these
        properties to configure the ports:


        http.port = HTTP port, 9000 by default
        https.port = HTTPS port, disabled by default

        You can use 0 to use a random port.</p>

</div>
<div class="row">
    <div class="col-sm-6 col-xs-12 col-lg-4">
        <h2>Data</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button" onclick="">View details &raquo;</a></p>
    </div>
    <div class="col-sm-6 col-xs-12 col-lg-4">
        <h2>Process</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button" onclick="">View details &raquo;</a></p>
    </div>
    <div class="col-sm-6 col-xs-12 col-lg-4">
        <h2>Share</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button" onclick="">View details &raquo;</a></p>
    </div>
</div><!--/row-->