<style type="text/css">
      body,html {
          height: 100%;
      }
      .list-group-item{
        background:#222;
        font-size: 20px;
        border-style: none;
      }
      .list-group-item:first-child{
        border-top: solid #aaa;
      }
      .list-group-item:last-child{
        border-bottom: solid #aaa;
      }
      #jobs {
        color: #aaa;
        border-radius: 0px;
      }
      #process {
        color: #aaa;
        border-radius: 0px;
        border-bottom: solid #aaa;
      }
      #list{
        color: #aaa;
        border-radius: 0px;
      }
      .scrollable {
          max-height: 100%;
      }
</style>

<div th:if="${session}!= null" class="list-group" style="min-height: 175vh; max-width=100; background:#222">
    <h1 th:if="${sesion}!=null">La session de precess existe</h1>
    <a id="jobs" class="list-group-item" href="#"  onclick="showJobs()"><span class="glyphicon glyphicon-tasks"></span> Jobs</a>
    <a id="process" class="list-group-item" href="#" onclick="showListProcess()"><span class="glyphicon glyphicon-list"></span> Process</a>
    <ul id="list" class="list-group scrollable"></ul>
</div>
<div th:if="${session}==null">
    <div id="Process-div-content" class="jumbotron" >
        <h1 th:if="${sesion}==null">La session de process est null</h1>
        <p>Presentation : Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui.</p>
    </div>
</div>

<script>
    function showListProcess(){
        $.ajax({ type: "GET",
            url: "http://localhost:8080/processList",
            async: false,
            success : function(text)
            {
                $( "#list" ).html(String(text));
            },
            error : function(text)
            {
                $( "#list" ).html(String(text));
            }
        });
    }
    function showProcess(id){
        $.ajax({ type: "GET",
            url: "http://localhost:8080/describeProcess",
            data: {
                "id": id
            },
            async: false,
            success : function(text)
            {
                $( "#content" ).html(String(text));
            },
            error : function(text)
            {
                $( "#content" ).html(String(text));
            }
        });
    }
    function showJobs(){
        $.ajax({ type: "GET",
            url: "http://localhost:8080/jobs",
            async: false,
            success : function(text)
            {
                $( "#list" ).html("");
                $( "#content" ).html(String(text));
            },
            error : function(text)
            {
                $( "#content" ).html(String(text));
            }
        });
    }

</script>