<div class="jumbotron">
    <h1>Process</h1>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
        tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        fermentum massa justo sit amet risus. Etiam porta sem malesuada
        magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#" role="button"
          onclick="javascript:home();">View details &raquo;</a></p>

</div>
<div class="row">
    <div class="col-sm-6 col-xs-12">
        <h2>Jobs</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button" onclick="javascript:home();">View details &raquo;</a></p>
    </div>
    <div class="col-sm-6 col-xs-12">
        <h2>List of process</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button" onclick="javascript:home();">View details &raquo;</a></p>
    </div>
</div><!--/row-->