<li th:if="${session == null}"><a id="sign_in" href="#"><span class="glyphicon glyphicon-user">
        </span>Sign Up</a></li>
<li th:if="${session == null}"><a  id="log_in" data-toggle="modal" data-target="#myModal" href="#">
    <span class="glyphicon 	glyphicon-log-in"></span>Login</a></li>
<li th:if="${session.username != null}" id="user_icon" role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-user"><span id="span-user" th:text="${session.username}"></span></span><span class="caret" ></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</li>
